
<table>
<%for instructor in @instructors do%>
    <tr>
        <td><%=instructor.name%></td>
        <td><%=instructor.office_number%></td>
        <td><%=instructor.email%></td>
    </tr>
<%end%>
</table>
